server:
  port: 80

spring:
  application:
    name: cloud-order-service

eureka:
  client:
    #表示自己注册到eureka注册中心，默认为true
    register-with-eureka: true
    #是否从EurekaServer抓取配置组册信息，默认为true，单节点无所谓，集群必须为true，才能配合ribbon使用负载均衡
    fetch-registry: true
    service-url:
      #注册中心地址,将服务注册到改地址
      defaultZone: http://localhost:7001/eureka