server:
  port: 8001


spring:
  application:
    name: cloud-payment-service
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource   #当前数据源操作类型
    driver-class-name: com.mysql.jdbc.Driver    #数据库驱动
    url: jdbc:mysql://localhost:3306/mydb?useUnicode=true&characterEncoding=utf-8&useSSL=false
    username: root
    password: xuziwei520

mybatis:
  mapperLocations: classpath:mapper/*.xml
  type-aliases-package: com.atguigu.springcloud.entities   #所有的Entity别名类所在包
eureka:
  client:
    #表示自己注册到eureka注册中心，默认为true
    register-with-eureka: true
    #是否从EurekaServer抓取配置组册信息，默认为true，单节点无所谓，集群必须为true，才能配合ribbon使用负载均衡
    fetch-registry: true
    service-url:
      #注册中心地址
      defaultZone: http://localhost:7001/eureka